<!--<footer class="krypton-footer">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; Logo &ndash;&gt;-->
<!--        <div class="footer-logo">-->
<!--            <a href="#">-->
<!--                <img  src="/img/logo/trade-vision-logo-t.png" alt="">-->
<!--                <div class="brand-name">Trade Vision</div>-->
<!--                <div class="brand-subtitle">Trading brought to another level</div>-->
<!--            </a>-->
<!--        </div>-->
<!--        -->
<!--        &lt;!&ndash; Columns &ndash;&gt;-->
<!--        <div class="columns footer-columns is-vcentered">-->
<!--            <div class="column is-4">-->
<!--                &lt;!&ndash; Links group &ndash;&gt;-->
<!--                <ul class="footer-links">-->
<!--                    <li>-->
<!--                        <a href="index.html">Home</a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="index.html#plans">Plans</a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="#">Roadmap</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; Newsletter &ndash;&gt;-->
<!--            <div class="column is-4">-->
<!--                <div class="subscribe-block">-->
<!--                    <form>-->
<!--                        &lt;!&ndash; Field &ndash;&gt;-->
<!--                        <div class="control">-->
<!--                            &lt;!&ndash; Special input &ndash;&gt;-->
<!--                            <input class="krypton-subscribe-input" type="email" name="email" placeholder="">-->
<!--                            <button class="subscribe-button">-->
<!--                                <span>Subscribe</span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Links group &ndash;&gt;-->
<!--            <div class="column is-4">-->
<!--                <ul class="footer-links">-->
<!--                    <li>-->
<!--                        <a href="new-register.html">Register</a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="login-register.html">Login</a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="#">Discord</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Copyright &ndash;&gt;-->
<!--        <p class="k-copyright">© 2022-2023 | Trade Vision. All Rights Reserved</p>-->
<!--        <br>-->
<!--        &lt;!&ndash; Made by &ndash;&gt;-->
<!--&lt;!&ndash;        <p class="coded-by">Designed and Coded by <a href="http://fusionbit.in/" target="_blank">Fusionbit</a></p>&ndash;&gt;-->
<!--    </div>-->
<!--    -->
<!--    &lt;!&ndash; Absolute image &ndash;&gt;-->
<!--    <img class="solar-system" src="/img/bg/solar.svg" alt="">-->
<!--</footer>-->