<!-- Static navbar -->
<nav x-data="initNavbar()" class="navbar is-light" :class="{
        'is-dark-mobile': mobileOpen,
        '': !mobileOpen
    }">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item">
                <img src="/img/logo/trade-vision-logo-t.png" alt="">
                <span class="brand-name" style="font-size: 14px;">Trade Vision</span>
            </a>
            <!-- Responsive toggle -->
            <div class="navbar-burger" @click="openMobileMenu()">
                <div class="menu-toggle">
                    <span style="    margin-top: -60px;
    margin-right: 40px;" class="icon-box-toggle" :class="{
                            'active': mobileOpen,
                            '': !mobileOpen
                        }">
                        <span class="" style="top: 0 !important; height: 0;">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div id="navbarMenu" class="navbar-menu light-menu" :class="{
                'is-active': mobileOpen,
                '': !mobileOpen
            }">
            <div class="navbar-end">
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="user-home.html">Home</a>
                </div>
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="user-settings.html">Settings</a>
                </div>
                <!-- Sign up -->
                <div class="navbar-item">
                    <a @click.prevent="
                    $store.app.currentUser = null;
                                window.location.replace('index.html');
" href="#" class="button k-button k-primary raised has-gradient slanted">
                        <span class="text">Logout</span>
                        <span class="front-gradient"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- /Static navbar -->